// colors
$primaryColor: #459adc;
$secondryColor: #3983c2;
$lightBlue: #7ee8fa;
$gray: #eef2f6;
$white: #ffffff;
$black: #000000;
$black-300: #454545;
$gray2: #f0f0f0;
$light_red: #ff5e5e;
$green1: #d4edda;
$green2: #c3e6cb;
$green3: #155724;
$green4: #63ce7c;
$red1: #f8d7da;
$red2: #f5c6cb;
$red3: #8a2731;
$orange: #ff9900;
$red4: #ce4040;

// Shadows
$boxShadow: rgba($black, 0.12) 0px 1px 3px, rgba($black, 0.24) 0px 1px 2px;
$boxShadow2: rgba(0, 0, 0, 0.2) 0px 20px 30px;
$boxShadowLeftMenu: rgb(0 0 0 / 12%) 2px 3px 3px;
$boxShadowInset: inset 0 0 3px #515151;

// Fonts
$fontSize: 16px;

// Border
$borderRadius: 0.25rem;
