.about {
    position: relative;

    .about-svg {
        svg {
            width: 80%;
            height: 100%;
        }
    }

    .about-info {
        position: relative;

        .title {
            margin-bottom: 2rem;

            h2 {
                font-size: 4em;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .desc {
            margin-bottom: 2rem;
        }
    }
}

.treatments {
    background-color: $black-300;
    position: relative;
    padding-bottom: 12em;

    .title {
        text-align: center;
        margin-bottom: 4.5rem;

        h2 {
            font-size: 36px;
            line-height: 46px;
            color: $white;
        }
    }

    .image {
        height: 275px;

        img {
            height: 100%;
        }
    }

    .card-title {
        text-align: center;
    }

    .no-treat {
        color: $white;
        margin-bottom: 1.5rem;
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        fill: #ffffff !important;
        pointer-events: none;
    }
}

.doctors {
    background-color: $gray;
    position: relative;
    padding-bottom: 12em;

    .title {
        flex-direction: column;
        margin-bottom: 2rem;

        h2 {
            font-size: 11em;
            margin: 0;
            padding: 0;
            color: $gray-300;
        }

        p {
            margin-top: -63px;
            font-size: 36px;
            line-height: 46px;
            text-align: center;
            font-weight: bold;
        }
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 3rem;

        .swiper-slide {
            background-color: $white;
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;

            a {
                display: initial;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
    }

}


