// Main
#main {
    .left {
        position: fixed;
        top: 52px;
        left: 0;
        width: 13rem;
        height: 100%;
        overflow-y: auto;
        background-color: $white;
        transition: all 0.3s ease-in-out;
        box-shadow: $boxShadowLeftMenu;
        z-index: 1;

        &::-webkit-scrollbar {
            width: 0.3em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: 0.25rem;
        }

        &::-moz-scrollbar {
            width: 0.3em;
        }

        &::-moz-scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: 0.25rem;
        }

        &::-ms-scrollbar {
            width: 0.3em;
        }

        &::-ms-scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: 0.25rem;
        }

        &::scrollbar {
            width: 0.3em;
        }

        &::scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: 0.25rem;
        }

        .main-menu {
            width: 100%;

            > ul {
                > li {
                    position: relative;
                    border-bottom: 1px solid $gray2;
                    transition: 0.25s all ease-in-out;

                    &:last-child {
                        border-bottom: 0px;
                    }

                    > a {
                        padding: .6rem;
                        transition: 0.25s all ease-in-out;

                        &.active, &:hover {
                            background-color: $primaryColor;
                            color: $white;

                            svg {
                                fill: $white;
                            }
                        }

                        &.active, &:focus, &:active {
                            .arrow {
                                transform: rotate(90deg);
                            }
                        }

                        i {
                            justify-content: center;
                            margin-right: 10px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .arrow {
                            position: absolute;
                            right: 6px;
                            top: 9px;
                            transition: 0.25s all ease-in-out;
                        }
                    }

                    .dropdown-menu {
                        background-color: $gray2;
                        opacity: 0;
                        pointer-events: none;
                        height: 0;

                        li {
                            a {
                                display: block;
                                padding: 0.4rem 0 0.4rem 2.8rem;
                                font-size: 15px;

                                &:hover {
                                    border-right: 3px solid $primaryColor;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    &.dropdown.active > a + .dropdown-menu {
                        opacity: 1;
                        pointer-events: auto;
                        height: 100%;
                    }
                }
            }
        }
    }

    .right {
        padding-top: 3.5em;
        padding-left: 14rem;
        margin-bottom: 2rem;
        transition: padding 0.3s ease 0s;

        .title {
            margin-bottom: 2rem;
            h2 {
                margin: 0;
                font-size: 21px
            }
        }

        .card {
            background-color: $white;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            padding: 1rem;
        }

        .table {
            border-collapse: collapse;
            margin: 0;
            width: 100%;
            overflow: hidden;
            box-shadow: $boxShadow;
            border-radius: $borderRadius;

            th,td {
                padding: 12px 15px;
            }

            thead {
                tr {
                    background-color: $primaryColor;
                    text-align: left;
                    color: $white;
                }
            }

            tbody {
                font-size: 15px;

                a {
                    font-size: 15px;
                }

                tr {
                    background-color: $white;
                    border-bottom: 1px solid $primaryColor;

                    &:last-of-type {
                        border-bottom: 3px solid $primaryColor;
                    }

                    &:hover {
                        background-color: $gray2;
                    }

                    .table-image {
                        width: 110px;
                        height: 110px;
                    }
                }
            }

            &--icons {
                li {
                    a {
                        width: 35px;
                        height: 35px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $white;
                        box-shadow: $boxShadow;
                        border-radius: 50%;
                        margin-right: 5px;

                        svg {
                            fill: $white;
                        }

                        &.edit {
                            background-color: $orange;
                        }

                        &.delete {
                            background-color: $red4;
                        }
                    }
                }
            }
        }

        // Forms
        .form-wrapper {

            .ar-text {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .languages {
                background-color: $gray2;
                padding: 1rem;
                border-radius: $borderRadius;
                box-shadow: $boxShadow;
                margin-bottom: 1rem;

                ul {
                    justify-content: flex-start;
                    margin-top: 1rem;

                    li {
                        a {
                            border-radius: $borderRadius;
                            padding: 4px 7px;
                            margin-right: 3px;
                            display: inline-block;
                            transition: all 0.2s ease-in-out;
                            font-size: 15px;

                            &:hover {
                                background-color: $primaryColor;
                                color: $white;
                            }

                            &.active {
                                background-color: $primaryColor;
                                color: $white;
                            }
                        }
                    }
                }
            }

            .tabs-content {
                .tab-pane {
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }

            .form {
                .form-group {
                    margin-bottom: 1rem;

                    .input-group {
                        margin-top: 8px;

                        input,
                        select,
                        textarea {
                            width: 100%;
                            height: 40px;
                            position: relative;
                            padding: 10px 13px;
                            border: none;
                            color: $black;
                            border-radius: 0.25rem;
                            font-size: 14px;
                            background-color: $gray2;

                            &.is-invalid {
                                border: 1px solid $light_red;
                            }
                        }

                        textarea, select {
                            height: auto;
                        }

                        small {
                            margin-top: 6px;
                            display: block;
                            color: #6e6e6e;
                        }

                        .drop-area {
                            width: 100%;
                            height: 150px;
                            justify-content: center;
                            background-color: $gray2;
                            cursor: pointer;
                            font-size: 20px;
                            color: $primaryColor;
                            border-radius: $borderRadius;
                            border: 3px dashed $primaryColor;

                            .promot {
                                justify-content: center;
                                flex-direction: column;
                            }

                            svg {
                                width: 40px;
                                height: 40px;
                                margin-bottom: .5rem;
                            }

                            &--over {
                                border-style: solid;
                            }

                            &--error {
                                border-style: solid;
                                border-color: $light_red;
                            }

                            &--input {
                                display: none;
                            }

                            &--thumb {
                                width: 150px;
                                height: 100%;
                                box-shadow: $boxShadow;
                                overflow: hidden;
                                background-size: 100%;
                                background-repeat: no-repeat;
                            }
                        }
                    }

                    .validate-error {
                        font-size: 14px;
                        color: $light_red;
                        display: block;
                        margin-top: 0.4rem;
                    }
                }
            }
        }

    }
}
